<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>업무 내역 기록장 : 개인작업물 관리</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	
	<link rel="stylesheet" href="assets/css/fullcalendar.css" />
	<link rel="stylesheet" href="assets/css/fullcalendar.print.css" />
	<!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<!-- Light Bootstrap Table core CSS -->
	<link href="assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>	

    <link rel="stylesheet" href='assets/css/bootstrap-datetimepicker.min.css' />

	<!-- Animation library for notifications -->
	<link href="assets/css/animate.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href='assets/css/select2.min.css' />


	<!-- Fonts and icons -->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>	  

	<!-- CSS for Demo Purpose, don't include it in your project 
	<link href="assets/css/demo.css" rel="stylesheet" />-->
	<link href="assets/css/style.css" rel="stylesheet" />	
</head>

<body>
  <div class="container-wrap mt-4">
    {{{body}}}
  </div>
  <script src="assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
  <script src="assets/js/semantic.min.js"></script>

  <!--   Core JS Files   -->
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
	<!--  Charts Plugin -->
	<script src="assets/js/chartist.min.js"></script>	
	
    <!--  Notifications Plugin    -->
	<script src="assets/js/bootstrap-notify.js"></script>

	<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

	 <!-- calendar -->
	 <script type="text/javascript" src="assets/js/fullcalendar.js"></script>
	 <script type="text/javascript" src="assets/js/jquery-ui.custom.min.js"></script>
	 <script type="text/javascript" src="assets/js/ko.js"></script>
	 <script src="assets/js/select2.min.js"></script>
	 
	<!-- Vue js   -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


	 <!--  Charts Plugin -->
	 <script src="assets/js/chartist.min.js"></script>
	 <script src="assets/js/bootstrap-notify.js"></script>
	   
  <link rel="stylesheet" href="assets/css/semantic.min.css">
  <link rel="stylesheet" href="assets/css/form.min.css">
  


    <!--  Google Maps Plugin    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! 
	<script src="assets/js/demo.js"></script>-->
</body>

</html>