
<div class="wrapper">
	<!-- sidebar -->				 
    <div class="sidebar" data-color="blue" data-image="assets/img/coffee.jpg">
		<!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    작업 관리
                </a>
            </div>
			<ul class="nav">
				<li>
					<a href="/">
					<i class="pe-7s-graph"></i>
					<p>업무 내역 기록</p>
					</a>
				</li>
				<li>
					<a href="/dashboard">
					<i class="pe-7s-science"></i>
					<p>오늘의 체크리스트</p>
					</a>
				</li>
				<li class="active">
					<a href="/workLibrary">
					<i class="pe-7s-user"></i>
					<p>나만의 라이브러리</p>
					</a>
				</li>
				<li>
					<a href="/dataInfoSet">
					<i class="pe-7s-note2"></i>
					<p>자료 사이트</p>
					</a>
				</li>             				
			</ul>
    	</div>
    </div>
	<!-- //sidebar -->				   

    <div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">나만의 라이브러리</a>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
				<div class="row">
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">
                                <h4 class="title">라이브러리</h4>
                                <p class="category">자주 쓰는 코드 정리</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                      <th>NO</th>
                                    	<th>기능</th>
                                    	<th>demo</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        	<td class="num"></td>
                                        	<td>웹 기본 환경 설정</td>
                                        	<td><a href="document/01.web-template/index.html" target="_blank">DEMO</a></td>
                                        </tr>
                                        <tr>
                                        	<td class="num"></td>
                                        	<td>모바일 기본 환경 설정</td>
                                        	<td><a href="document/02.mobile-template/index.html" target="_blank">DEMO</a></td>
                                        </tr>
                                        <tr>
                                        	<td class="num"></td>
                                        	<td>loading</td>
                                        	<td><a href="document/03.loading/loading.html" target="_blank">DEMO</a></td>
                                        </tr>
                                        <tr>
                                        	<td class="num"></td>
                                        	<td>
													list 종류별 구현<br>
													<ul>
														<li>· 리스트 type01 (dotlist)</li>
														<li> * 리스트 type02 (starlist)</li>
														<li> - 리스트 type03 (barlist)</li>
														<li> ※ 리스트 type04 (referlist)</li>
													</ul>
												</td>
                                        	<td><a href="document/04.list/list.html" target="_blank">DEMO</a></td>
                                        </tr>
                                        <tr>
                                        	<td class="num"></td>
                                        	<td>슬라이더</td>
                                        	<td><a href="document/05.slider/slider.html" target="_blank">DEMO</a></td>
                                        </tr>                                        
                                        
										<tr>
                                        	<td class="num"></td>
                                        	<td>tab</td>
                                        	<td><a href="document/06.tab/tab.html" target="_blank">DEMO</a></td>
                                        </tr>
										<tr>
                                        	<td class="num"></td>
                                        	<td>스위치 버튼</td>
                                        	<td><a href="document/07.switch/switch.html" target="_blank">DEMO</a></td>
                                        </tr>
										<tr>
                                        	<td class="num"></td>
                                        	<td>테이블 UI</td>
                                        	<td><a href="document/08.table/table.html" target="_blank">DEMO</a></td>										
										</tr>
										<tr>
                                        	<td class="num"></td>
                                        	<td>error</td>
                                        	<td><a href="document/09.error/error.html" target="_blank">DEMO</a></td>										
										</tr>
										<tr>
                                        	<td class="num"></td>
                                        	<td>location bar</td>
                                        	<td><a href="document/10.location_bar/location_bar.html" target="_blank">DEMO</a></td>										
										</tr>
										<tr>
                                        	<td class="num"></td>
                                        	<td>레이어</td>
                                        	<td><a href="document/11.layer/layer.html" target="_blank">DEMO</a></td>
                                        </tr>
										<tr>
                                        	<td class="num"></td>
                                        	<td>좌우메뉴- 좌측</td>
                                        	<td><a href="document/12.sidebar/1left.html" target="_blank">DEMO</a></td>
                                        </tr>
										<tr>
                                        	<td class="num"></td>
                                        	<td>좌우메뉴 - 우측</td>
                                        	<td><a href="document/12.sidebar/2right.html" target="_blank">DEMO</a></td>
                                        </tr>
										<tr>
                                        	<td class="num"></td>
                                        	<td>아코디언 메뉴/토글 메뉴</td>
                                        	<td><a href="document/13.toggle/toggle.html" target="_blank">DEMO</a></td>
                                        </tr>
										<tr>
                                        	<td class="num"></td>
                                        	<td>이미지 섬네일</td>
                                        	<td><a href="document/14.thumnail_list/thumnail_list.html" target="_blank">DEMO</a></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">

                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>


    </div>
</div>
